APP_NAME=argus-orchestrator
APP_ENV=development

MONGO_URL=mongodb://localhost:27017
MONGO_DATABASE=argus

REDIS_URL=redis://localhost:6379/0

CONNECTOR_STREAM=queue:connector:rss
RESULT_STREAM=connector:rss:results

CONSUMER_GROUP=orchestrator-results
CONSUMER_NAME=orchestrator-1